.desktop,
.desktop * {
  box-sizing: border-box;
}

.desktop {
  background: #000000;
  height: 8011px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  width: 1170px;
  height: 159px;
  position: absolute;
  left: 0px;
  top: 7852px;
  overflow: visible;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  justify-content: center;
  width: 1170px;
  height: 2822px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.hero {
  flex-shrink: 0;
  width: 1170px;
  height: 495px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 13, 66, 1) 34.21512544155121%,
    rgba(79, 33, 161, 1) 64.90061283111572%,
    rgba(164, 110, 219, 1) 81.77806735038757%
  );
  width: 1200px;
  height: 730px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.ellipse-2 {
  background: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 1) 82.20111131668091%,
    rgba(38, 0, 100, 1) 97.99000024795532%,
    rgba(97, 0, 255, 1) 98.00000190734863%
  );
  border-radius: 50%;
  border-style: solid;
  border-color: #201032;
  border-width: 1px;
  width: 1642.32px;
  height: 1199.05px;
  position: absolute;
  left: calc(50% - 682.4px);
  top: -477.18px;
  transform-origin: 0 0;
  transform: rotate(15deg) scale(1, 1);
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 739px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -8.5px;
}
.h-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 40.25000035762787%,
    rgba(174, 139, 219, 1) 80.48999905586243%,
    rgba(221, 221, 221, 1) 80.50000071525574%,
    rgba(121, 46, 215, 1) 97.50000238418579%,
    rgba(112, 0, 255, 1) 97.5100040435791%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 150px;
  line-height: 125px;
  letter-spacing: -0.075em;
  font-weight: 700;
  position: relative;
  width: 1168px;
  height: 714px;
}
.message-2 {
  width: 137px;
  height: 139px;
  position: absolute;
  left: 848px;
  top: 158px;
  filter: blur(7px);
  object-fit: cover;
}
.cursor-1 {
  width: 123px;
  height: 103px;
  position: absolute;
  left: 106px;
  top: -15.5px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  filter: blur(7px);
  object-fit: cover;
}
.message-1 {
  width: 129px;
  height: 134px;
  position: absolute;
  left: 856px;
  top: 158px;
  object-fit: cover;
}
.cursor-2 {
  width: 108px;
  height: 106px;
  position: absolute;
  left: 106px;
  top: -0.5px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 144px;
  position: relative;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1040px;
  height: 144px;
  position: relative;
}
.h-2 {
  color: #ffffff;
  text-align: center;
  font-family: var(--h2-font-family, "DmSans-Bold", sans-serif);
  font-size: var(--h2-font-size, 54px);
  line-height: var(--h2-line-height, 60px);
  letter-spacing: var(--h2-letter-spacing, -0.06em);
  font-weight: var(--h2-font-weight, 700);
  position: relative;
  width: 540px;
  height: 62px;
}
.body {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-large-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-large-font-size, 22px);
  line-height: var(--body-large-line-height, 31px);
  letter-spacing: var(--body-large-letter-spacing, -0.036000000000000004em);
  font-weight: var(--body-large-font-weight, 400);
  position: relative;
  width: 535px;
  height: 73px;
}
.frame-33 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 597px;
  position: relative;
}
.pricing-card-startup {
  flex-shrink: 0;
  width: 307px;
  height: 596px;
  position: relative;
}
.rectangle-16 {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.16%;
  left: -0.16%;
  bottom: 0.05%;
  top: -0.05%;
}
.cta {
  background: rgba(61, 61, 61, 0.4);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  padding: 6px 15px 6px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 86.97%;
  height: 6.38%;
  position: absolute;
  right: 6.51%;
  left: 6.51%;
  bottom: 4.61%;
  top: 89.01%;
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25);
  overflow: hidden;
  backdrop-filter: blur(7px);
}
.join-new-startup {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #282729;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 84.98%;
  top: 15.02%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-332 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 292px;
  height: 504px;
  position: absolute;
  left: 7px;
  top: 26.5px;
}
.frame-32 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.startup {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.0004em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._0-00-mo {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: var(--body-m-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 26px);
  letter-spacing: var(--body-m-letter-spacing, -0.0001em);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  width: 147px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-rows {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 285px;
  height: 434px;
  position: relative;
  overflow: hidden;
}
.pricing-row {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.icons {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.shared-server-6-v-cpu-11-gb-of-ram {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 292px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row2 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icons2 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.native-control-panel-for-windows {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row3 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 267px;
  height: 33px;
  position: relative;
}
.icons3 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.shortify-algorithm-for-1-channels {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons4 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.batch-algorithm-for-2-videos {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row4 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
.icons5 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.upload-1-the-base-video {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons6 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.upload-cuts-for-tiktok {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons7 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-1-account-tiktok {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row5 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 26px;
  position: relative;
}
.icons8 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.control-1-themes {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 143px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row6 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 267px;
  height: 30px;
  position: relative;
}
.icons9 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._5-requests-per-day {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 143px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons10 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._24-7-support {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 143px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-card-creator {
  flex-shrink: 0;
  width: 306px;
  height: 596px;
  position: relative;
}
.rectangle-17 {
  background: linear-gradient(
    180deg,
    rgba(1, 0, 2, 1) 0%,
    rgba(54, 23, 100, 1) 100%
  );
  border-radius: 10px;
  width: 100%;
  height: 99.21%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.79%;
  top: 0%;
  box-shadow: 0px 10px 74px 10px rgba(78, 0, 191, 0.41);
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #282729;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 84.98%;
  top: 15.02%;
  transform-origin: 0 0;
  transform: rotate(0.002deg) scale(1, 1);
}
.pattern {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.cta2 {
  background: rgba(140, 69, 255, 0.4);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  padding: 6px 15px 6px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 86.97%;
  height: 6.38%;
  position: absolute;
  right: 6.49%;
  left: 6.54%;
  bottom: 5.12%;
  top: 88.51%;
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25);
  overflow: hidden;
  backdrop-filter: blur(7px);
}
.start-creating-content {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-31 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 277px;
  height: 487px;
  position: absolute;
  left: 19px;
  top: 19.5px;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 275px;
  height: 63px;
  position: relative;
}
.content-creator {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.0004em;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._8-89-mo {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: var(--body-m-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 26px);
  letter-spacing: var(--body-m-letter-spacing, -0.0001em);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-rows2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 278px;
  height: 398px;
  position: relative;
}
.pricing-row7 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.icons11 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.shared-server-6-v-cpu-11-gb-of-ram2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 258px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row8 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 28px;
  position: relative;
}
.icons12 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.pricing-row9 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 277px;
  height: 27px;
  position: relative;
}
.icons13 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.shortify-algorithm-for-3-channels {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 248px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row10 {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 26px;
  position: relative;
}
.icons14 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.batch-algorithm-for-5-videos {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 260px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row11 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 26px;
  position: relative;
}
.icons15 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._1-weekly-reporting-agent {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 238px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons16 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.pricing-row12 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 23px;
  position: relative;
}
.icons17 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.icons18 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.control-3-themes {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row13 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 25px;
  position: relative;
}
.icons19 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.pricing-row14 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 27px;
  position: relative;
}
.icons20 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._50-requests-per-day {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 246px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons21 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._24-7-support2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 246px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-card-studio {
  flex-shrink: 0;
  width: 305px;
  height: 596px;
  position: relative;
}
.rectangle-162 {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -0.16%;
  left: 0.16%;
  bottom: 0.05%;
  top: -0.05%;
}
.cta3 {
  background: rgba(61, 61, 61, 0.4);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  padding: 6px 15px 6px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 86.97%;
  height: 6.38%;
  position: absolute;
  right: 6.47%;
  left: 6.56%;
  bottom: 4.78%;
  top: 88.84%;
  box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25);
  overflow: hidden;
  backdrop-filter: blur(7px);
}
.become-a-studio {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-52 {
  margin-top: -1px;
  border-style: solid;
  border-color: #282729;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 85.82%;
  top: 14.18%;
  transform-origin: 0 0;
  transform: rotate(-0.194deg) scale(1, 1);
}
.frame-333 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 284px;
  height: 498px;
  position: absolute;
  left: 12px;
  top: 19.5px;
}
.frame-322 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  position: relative;
}
.studio {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.0004em;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._54-18-mo {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: var(--body-m-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-m-font-size, 16px);
  line-height: var(--body-m-line-height, 26px);
  letter-spacing: var(--body-m-letter-spacing, -0.0001em);
  font-weight: var(--body-m-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-rows3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  height: 417px;
  position: relative;
}
.pricing-row15 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  height: 35px;
  position: relative;
}
.icons22 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.dedicated-server-4-v-cpu-16-gb-of-ram {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 262px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row16 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 270px;
  height: 35px;
  position: relative;
}
.icons23 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.native-control-panel-for-windows2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 244px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons24 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.shortify-algorithm-for-channels {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 250px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons25 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.batch-algorithm-for-50-videos-per-day {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 264px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row17 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 39px;
  position: relative;
}
.icons26 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._1-weekly-reporting-agent2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 252px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row18 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 23px;
  position: relative;
}
.icons27 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.icons28 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.upload-cuts-for-tiktok2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 252px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons29 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.add-account-tiktok {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: -0.0001em;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-row19 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 264px;
  height: 34px;
  position: relative;
}
.icons30 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.icons31 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
._200-requests-per-day {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-s-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-s-font-size, 14px);
  line-height: var(--body-s-line-height, 26px);
  letter-spacing: var(--body-s-letter-spacing, -0.0001em);
  font-weight: var(--body-s-font-weight, 400);
  position: relative;
  width: 251px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons32 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1445px;
  position: relative;
}
.analytics-dashboard-columns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 74px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 435px;
  position: absolute;
  left: 17px;
  top: 2860px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 460px;
  position: relative;
}
.icon-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 483px;
  position: relative;
}
.analytics-dashboard {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.body2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 16px);
  line-height: var(--body-medium-line-height, 23px);
  letter-spacing: var(--body-medium-letter-spacing, -0.01em);
  font-weight: var(--body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 66px;
}
.column2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 467px;
  height: 415px;
  position: relative;
}
.image-wrapper {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 467px;
  position: relative;
  box-shadow: 0px 0px 0px 1.17px rgba(255, 255, 255, 0.1),
    0px 0px 0px 2.33px rgba(0, 0, 0, 0.05),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3),
    inset 0px 0.58px 0px 0px rgba(255, 255, 255, 0.5),
    inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
}
.image {
  border-radius: 20px;
  flex-shrink: 0;
  width: 625px;
  height: 399px;
  position: relative;
  object-fit: cover;
}
.weekly-reporting-agent-columns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 2px 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 433px;
  position: absolute;
  left: 17px;
  top: 3333px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.column3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 460px;
  height: 172px;
  position: relative;
}
.icon {
  border-radius: 10px;
  padding: 13px 12px 13px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.card-content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.weekly-reporting-agent {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 16px);
  line-height: var(--body-medium-line-height, 23px);
  letter-spacing: var(--body-medium-letter-spacing, -0.01em);
  font-weight: var(--body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.column4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 451px;
  height: 393px;
  position: relative;
}
.image2 {
  border-radius: 22px;
  flex-shrink: 0;
  width: 646px;
  height: 337px;
  position: relative;
  object-fit: cover;
}
.task-control-columns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 74px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 458px;
  position: absolute;
  left: 17px;
  top: 3804px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.icon2 {
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.task-control {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.column5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 467px;
  height: 438px;
  position: relative;
}
.image3 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 632px;
  height: 417px;
  position: relative;
  object-fit: cover;
}
.process-control-columns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 74px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 456px;
  position: absolute;
  left: 17px;
  top: 4300px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.icon3 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  object-fit: cover;
}
.process-control {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.column6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 467px;
  height: 436px;
  position: relative;
}
.image4 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 632px;
  height: 408px;
  position: relative;
  object-fit: cover;
}
.shortify-algorithm-columns {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 2px 20px 15px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 441px;
  position: absolute;
  left: 17px;
  top: 1908px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.column7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 487px;
  position: relative;
}
.icon4 {
  border-radius: 10px;
  padding: 13px 12px 13px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
}
.add-tiktok-accounts {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.column8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 450px;
  height: 415px;
  position: relative;
}
.image5 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 628px;
  height: 426px;
  position: relative;
  object-fit: cover;
}
.shortify-algorithm-columns2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 2px 20px 15px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 396px;
  position: absolute;
  left: 17px;
  top: 2387px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.column9 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 421px;
  position: relative;
}
.card-content3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;
}
.upload-cuts-for-tiktok3 {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.column10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 513px;
  height: 415px;
  position: relative;
}
.image6 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 620px;
  height: 346px;
  position: relative;
  object-fit: cover;
}
.shortify-algorithm-columns3 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  padding: 20px 2px 20px 15px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  height: 435px;
  position: absolute;
  left: 18px;
  top: 1435px;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5),
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}
.shortify-algorithm {
  color: #ececec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.image7 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 628px;
  height: 389px;
  position: relative;
  object-fit: cover;
}
.frame-34 {
  width: 570px;
  height: 47px;
  position: absolute;
  left: 310px;
  top: 1364px;
  overflow: hidden;
}
.emojistar-2 {
  width: 51px;
  height: 49px;
  position: absolute;
  left: 234px;
  top: -2px;
  object-fit: cover;
}
.body3 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-large-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-large-font-size, 22px);
  line-height: var(--body-large-line-height, 31px);
  letter-spacing: var(--body-large-letter-spacing, -0.036000000000000004em);
  font-weight: var(--body-large-font-weight, 400);
  position: absolute;
  left: 285px;
  top: 7px;
  width: 169px;
  height: 30px;
}
.body4 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-large-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-large-font-size, 22px);
  line-height: var(--body-large-line-height, 31px);
  letter-spacing: var(--body-large-letter-spacing, -0.036000000000000004em);
  font-weight: var(--body-large-font-weight, 400);
  position: absolute;
  left: 14px;
  top: 9px;
  width: 212px;
  height: 29px;
}
