
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ static_url }}css/ControlPanel_Login_vars.css">
  <link rel="stylesheet" href="{{ static_url }}css/ControlPanel_Login_style.css">
  <title>Login</title>
</head>
<body>
  <div class="login">
    <img class="back" src="{{ static_url }}img/back0.svg" />
    <div class="frame-62">
      <div class="frame-11056">
        <div class="frame-55">
          <img class="rectangle-337" src="{{ static_url }}img/rectangle-3370.png" />
          <div class="media-cuts-studio">Media Cuts Studio</div>
        </div>
        <div class="input">
          <div class="xodimlar">Username</div>
          <div class="frame-11019">
            <div class="text">Enter your username</div>
          </div>
        </div>
        <div class="input2">
          <div class="xodimlar">Password</div>
          <div class="frame-11019">
            <div class="text">Enter your password</div>
          </div>
        </div>
        <div class="frame-1" id="loginButton">
          <div class="label" id="loginButton">Login</div>
        </div>
      </div>
      <div class="frame-110562">
        <div class="artboard-113-wf-automation-illustrations-1">
          <img class="group" src="{{ static_url }}img/group0.svg" />
        </div>
      </div>
    </div>
  </div>
  


  

<script src="{{ static_url }}js/login-inputs.js"></script>
<script src="{{ static_url }}js/login-button.js"></script>

</body>
</html>


