<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Referências dos CSS para desktop -->
  <link rel="stylesheet" href="{{ static_url }}css/Desktop_vars.css">
  <link rel="stylesheet" href="{{ static_url }}css/Desktop_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

  <title>Media Cuts Studio</title>
</head>
<body>
  <div class="desktop">
    <img class="rectangle-2" src="{{ static_url }}img/Landingpagev2/rectangle-20.svg" />
    <div class="stack">
      <div class="hero">
        <div class="rectangle-1"></div>
        <div class="ellipse-2"></div>
        <div class="hero-content">
          <div class="h-1">
            Turn long videos
            <br />
            into
            <br />
            short messages
          </div>
        </div>
        <img class="message-2" src="{{ static_url }}img/Landingpagev2/message-20.png" />
        <img class="cursor-1" src="{{ static_url }}img/Landingpagev2/cursor-10.png" />
        <img class="message-1" src="{{ static_url }}img/Landingpagev2/message-10.png" />
        <img class="cursor-2" src="{{ static_url }}img/Landingpagev2/cursor-20.png" />
      </div>
      <div class="frame-18">
        <div class="frame-17">
          <div class="h-2">Media Cuts Studio</div>
          <div class="body">
            Media Cuts Studio is an advanced software for creating short videos
            from long videos
          </div>
        </div>
      </div>
      <div class="frame-33">
        <div class="pricing-card-startup">
          <div class="rectangle-16"></div>
          <div class="cta">
            <div class="join-new-startup">Join New Startup</div>
          </div>
          <div class="line-5"></div>
          <div class="frame-332">
            <div class="frame-32">
              <div class="pricing">Startup</div>
              <div class="_29-mo">$5/mo</div>
            </div>
            <div class="pricing-rows">
              <div class="pricing-row">
                <img class="icons" src="{{ static_url }}img/Landingpagev2/icons0.svg" />
                <div class="native-control-panel-for-windows">
                  Native Control Panel for Windows
                </div>
              </div>
              <div class="pricing-row">
                <img class="icons2" src="{{ static_url }}img/Landingpagev2/icons1.svg" />
                <div class="upload-the-base-video">Upload The base Video</div>
              </div>
              <div class="pricing-row2">
                <img class="icons3" src="{{ static_url }}img/Landingpagev2/icons2.svg" />
                <div class="_5-requests-per-day">5 Requests per day</div>
              </div>
              <div class="pricing-row">
                <img class="icons4" src="{{ static_url }}img/Landingpagev2/icons3.svg" />
                <div class="control-resolutions">Control Resolutions</div>
              </div>
              <div class="pricing-row3">
                <img class="icons5" src="{{ static_url }}img/Landingpagev2/icons4.svg" />
                <div class="_24-7-support">24/7 Support</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-card-creator">
          <div class="rectangle-17"></div>
          <div class="line-6"></div>
          <img class="pattern" src="{{ static_url }}img/Landingpagev2/pattern0.svg" />
          <div class="cta2">
            <div class="start-creating-content">Start creating content</div>
          </div>
          <div class="frame-31">
            <div class="frame-30">
              <div class="pro">Content Creator</div>
              <div class="_79-mo">$29/mo</div>
            </div>
            <div class="pricing-rows2">
              <div class="pricing-row">
                <img class="icons6" src="{{ static_url }}img/Landingpagev2/icons5.svg" />
                <div class="native-control-panel-for-windows">
                  Native Control Panel for Windows
                </div>
              </div>
              <div class="pricing-row">
                <img class="icons7" src="{{ static_url }}img/Landingpagev2/icons6.svg" />
                <div class="analytics-dashboard">Analytics Dashboard</div>
              </div>
              <div class="pricing-row4">
                <img class="icons8" src="{{ static_url }}img/Landingpagev2/icons7.svg" />
                <div class="shortify-algorithm-for-2-channels">
                  Shortify Algorithm for 2 channels
                </div>
              </div>
              <div class="pricing-row5">
                <img class="icons9" src="{{ static_url }}img/Landingpagev2/icons8.svg" />
                <div class="batch-algorithm-for-10-videos-per-day">
                  Batch Algorithm for 10 videos per day
                </div>
              </div>
              <div class="pricing-row6">
                <img class="icons10" src="{{ static_url }}img/Landingpagev2/icons9.svg" />
                <div class="_1-weekly-reporting-agent">
                  1 Weekly Reporting Agent
                </div>
              </div>
              <div class="pricing-row7">
                <img class="icons11" src="{{ static_url }}img/Landingpagev2/icons10.svg" />
                <div class="_50-requests-per-day">50 Requests per day</div>
              </div>
              <div class="pricing-row7">
                <img class="icons12" src="{{ static_url }}img/Landingpagev2/icons11.svg" />
                <div class="_24-7-support2">24/7 Support</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-card-studio">
          <div class="rectangle-162"></div>
          <div class="cta">
            <div class="become-a-studio">Become a studio</div>
          </div>
          <div class="line-5"></div>
          <div class="frame-333">
            <div class="frame-32">
              <div class="pricing">Studio</div>
              <div class="_29-mo">$100/mo</div>
            </div>
            <div class="pricing-rows3">
              <div class="pricing-row8">
                <img class="icons13" src="{{ static_url }}img/Landingpagev2/icons12.svg" />
                <div class="native-control-panel-for-windows2">
                  Native Control Panel for Windows
                </div>
              </div>
              <div class="pricing-row">
                <img class="icons14" src="{{ static_url }}img/Landingpagev2/icons13.svg" />
                <div class="analytics-dashboard">Analytics Dashboard</div>
              </div>
              <div class="pricing-row8">
                <img class="icons15" src="{{ static_url }}img/Landingpagev2/icons14.svg" />
                <div class="shortify-algorithm-for-10-channels">
                  Shortify Algorithm for 10 channels
                </div>
              </div>
              <div class="pricing-row8">
                <img class="icons16" src="{{ static_url }}img/Landingpagev2/icons15.svg" />
                <div class="batch-algorithm-for-50-videos-per-day">
                  Batch algorithm for 50 videos per day
                </div>
              </div>
              <div class="pricing-row8">
                <img class="icons17" src="{{ static_url }}img/Landingpagev2/icons16.svg" />
                <div class="_1-weekly-reporting-agent2">
                  1 Weekly Reporting Agent
                </div>
              </div>
              <div class="pricing-row">
                <img class="icons18" src="{{ static_url }}img/Landingpagev2/icons17.svg" />
                <div class="_200-requests-per-day">200 Requests per day</div>
              </div>
              <div class="pricing-row8">
                <img class="icons19" src="{{ static_url }}img/Landingpagev2/icons18.svg" />
                <div class="_24-7-support">24/7 Support</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="analytics-dashboard-columns">
          <div class="column">
            <img class="icon-image" src="{{ static_url }}img/Landingpagev2/icon-image0.png" />
            <div class="card-content">
              <div class="analytics-dashboard2">Analytics Dashboard</div>
              <div class="body2">
                Your studio analytics see
                <br />
                everything that happens in one place
              </div>
            </div>
          </div>
          <div class="column2">
            <div class="image-wrapper">
              <img class="image" src="{{ static_url }}img/Landingpagev2/image0.png" />
            </div>
          </div>
        </div>
        <div class="shortify-algorithm-columns">
          <div class="column">
            <img
              class="icon"
              style="
                background: url(icon0.png) center;
                background-size: cover;
                background-repeat: no-repeat;
              "
              src="{{ static_url }}img/Landingpagev2/icon0.png"
            />
            <div class="card-content2">
              <div class="shortify-algorithm">Shortify Algorithm</div>
              <div class="text">
                Creation of automatic cuts
                <br />
                on specific days and times for a YouTube channel
              </div>
            </div>
          </div>
          <div class="column3">
            <div class="image-wrapper">
              <img class="image2" src="{{ static_url }}img/Landingpagev2/image1.png" />
            </div>
          </div>
        </div>
        <div class="weekly-reporting-agent-columns">
          <div class="column4">
            <img
              class="icon2"
              style="
                background: url(icon1.png) center;
                background-size: cover;
                background-repeat: no-repeat;
              "
              src="{{ static_url }}img/Landingpagev2/icon1.png"
            />
            <div class="card-content2">
              <div class="weekly-reporting-agent">Weekly Reporting Agent</div>
              <div class="text">
                Get a Softwareai Agent specialized in weekly reports
                <br />
                to your Gmail about studio information
              </div>
            </div>
          </div>
          <div class="column5">
            <div class="image-wrapper">
              <img class="image3" src="{{ static_url }}img/Landingpagev2/image2.png" />
            </div>
          </div>
        </div>
        <div class="task-control-columns">
          <div class="column">
            <img
              class="icon3"
              style="
                background: url(icon2.png) center;
                background-size: cover;
                background-repeat: no-repeat;
              "
              src="{{ static_url }}img/Landingpagev2/icon2.png"
            />
            <div class="card-content">
              <div class="task-control">Task Control</div>
              <div class="body2">Control your studio tasks in one place</div>
            </div>
          </div>
          <div class="column2">
            <div class="image-wrapper">
              <img class="image4" src="{{ static_url }}img/Landingpagev2/image3.png" />
            </div>
          </div>
        </div>
        <div class="process-control-columns">
          <div class="column">
            <img class="icon4" src="{{ static_url }}img/Landingpagev2/icon3.png" />
            <div class="card-content">
              <div class="process-control">Process Control</div>
              <div class="body2">Your studio processes in one place</div>
            </div>
          </div>
          <div class="column2">
            <div class="image-wrapper">
              <img class="image4" src="{{ static_url }}img/Landingpagev2/image4.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-26">
      <img class="emojistar-1" src="{{ static_url }}img/Landingpagev2/emojistar-10.png" />
      <div class="frame-172">
        <div class="h-2">Intuitive interface</div>
        <div class="body">
          Intuitive and lightweight native Windows control panel
        </div>
      </div>
      <section class="image-carousel">
        <div class="carousel">
            <div><img src="{{ static_url }}img/Screenshot_4.png" alt="Imagem 1"></div>
            <div><img src="{{ static_url }}img/Screenshot_5.png" alt="Imagem 2"></div>
            <div><img src="{{ static_url }}img/Screenshot_6.png" alt="Imagem 3"></div>
            <div><img src="{{ static_url }}img/Screenshot_7.png" alt="Imagem 4"></div>
            <div><img src="{{ static_url }}img/Screenshot_8.png" alt="Imagem 5"></div>
            <div><img src="{{ static_url }}img/Screenshot_9.png" alt="Imagem 6"></div>
          
        </div>
      </section>

    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

  <script src="{{ static_url }}js/inicializer-carousel.js"></script>

  <script src="{{ static_url }}js/ajust-window.js"></script>

  <script src="{{ static_url }}js/landingpage-buttons.js"></script>

</body>
</html>