

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Checkout_Mobile_Cancel_Page_vars.css">
  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Checkout_Mobile_Cancel_Page_style.css">
  <title>Site - Pagina de Cancelamento</title>
</head>

<div class="cancel-page">
  <div class="section-thank-you-page-order-status">
    <div class="text">
      <div class="block-thank-you-page-confirmation">
        <div class="header-copy-button">
          <div class="text-header-and-copy">
            <div class="your-order-is-confirmed">Your order</div>
            <div
              class="you-ll-get-a-confirmation-email-with-your-order-number-soon"
            >
              Your order has been cancelled, go back to the home page and try
              again
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <div class="line"></div>
    </div>
    <div class="email-me"></div>
  </div>
  <div class="frame-28971">
    <div class="success-error-icons">
      <img class="regular-icons" src="regular-icons0.svg" />
    </div>
    <div class="payment-successfully">Payment failed</div>
  </div>
  <div class="frame-28972"></div>
</div>
