<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Referências dos CSS para tablet -->
  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Tablet_vars.css">
  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Tablet_style.css">
  <title>Site - Versão Tablet</title>
</head>
<div class="tablet">
  <img class="purple-gradient" src="{{ static_url }}img/purple-gradient0.svg" />
  <div class="stack">
    <div class="nav-bar-desktop">
      <div class="logo"></div>
      <div class="stack2">
        <div class="about">About</div>
        <div class="features">Features</div>
        <div class="customers">Customers</div>
        <div class="updates">Updates</div>
        <div class="help">Help</div>
        <div class="buttons">
          <div class="get-for-free">Get for free</div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="rectangle-1"></div>
      <div class="ellipse-2"></div>
      <div class="hero-content">
        <div class="h-1">
          Turn long videos into
          <br />
          short messages
        </div>
      </div>
      <img class="message-2" src="{{ static_url }}img/message-20.png" />
      <img class="message-1" src="{{ static_url }}img/message-10.png" />
      <img class="cursor-1" src="{{ static_url }}img/cursor-10.png" />
      <img class="cursor-2" src="{{ static_url }}img/cursor-20.png" />
    </div>
    <div class="_2nd">
      <div class="frame-28">
        <div class="frame-18">
          <div class="frame-17">
            <div class="h-2">Media Cuts Studio</div>
            <div class="body">
              Media Cuts Studio is an advanced software for creating short
              videos from long videos
            </div>
          </div>
        </div>
      </div>
      <div class="buttons2">
        <div class="get-for-free2">Start for Free</div>
      </div>
      <div class="studio">
        <div class="background"></div>
        <img class="vector-9" src="{{ static_url }}img/vector-90.svg" />
        <div class="native-studio-control-panel-for-windows">
          Native Studio Control Panel for Windows
        </div>
        <div class="shortify-algorithm-for-10-channels">
          Shortify algorithm for 10 channels
        </div>
        <div class="batch-processing-algorithm-for-50-videos-per-day">
          Batch processing algorithm for 50 videos per day
        </div>
        <div class="_1-agent-reporting">1 Agent Reporting</div>
        <div class="_200-requests-per-day">200 Requests per day</div>
        <div class="_24-7-vip-support">24/7 VIP Support</div>
        <div class="line-1"></div>
        <div class="button">
          <div class="rectangle-4"></div>
          <div class="start-studio">Start Studio</div>
        </div>
        <div class="per-user-per-month">per user, per month</div>
        <div class="_139">$139</div>
        <div class="studio2">Studio</div>
        <img class="vector-4" src="{{ static_url }}img/vector-40.svg" />
        <img class="vector-5" src="{{ static_url }}img/vector-50.svg" />
        <img class="vector-6" src="{{ static_url }}img/vector-60.svg" />
        <img class="vector-7" src="{{ static_url }}img/vector-70.svg" />
        <img class="vector-8" src="{{ static_url }}img/vector-80.svg" />
      </div>
      <div class="content-creator">
        <div class="background2"></div>
        <img class="vector-11" src="{{ static_url }}img/vector-110.svg" />
        <img class="vector-10" src="{{ static_url }}img/vector-100.svg" />
        <img class="vector-92" src="{{ static_url }}img/vector-91.svg" />
        <img class="vector-72" src="{{ static_url }}img/vector-71.svg" />
        <div class="_50-requests-per-day">50 Requests per day</div>
        <div class="_1-agent-reporting2">1 Agent Reporting</div>
        <div class="shortify-algorithm-for-2-channels">
          Shortify Algorithm for 2 channels
        </div>
        <div class="line-12"></div>
        <div class="button2">
          <div class="rectangle-42"></div>
          <div class="start-creating-content">Start Creating Content</div>
        </div>
        <div class="per-user-per-month2">per user, per month</div>
        <div class="_29">$29</div>
        <div class="content-creator2">
          Content Creator
          <br />
        </div>
        <div class="batch-processing-algorithm-for-10-videos-per-day">
          Batch processing algorithm for 10 videos per day
        </div>
        <div class="_24-7-support">24/7 Support</div>
        <img class="vector-82" src="{{ static_url }}img/vector-81.svg" />
      </div>
      <div class="startup">
        <div class="background3"></div>
        <div class="uploading-the-base-video">Uploading the base video</div>
        <div class="control-resolutions">Control Resolutions</div>
        <div class="_5-requests-per-day">5 Requests per day</div>
        <div class="_24-7-support2">24/7 Support</div>
        <div class="line-13"></div>
        <div class="button2">
          <div class="rectangle-43"></div>
          <div class="start-for-free">Start for Free</div>
        </div>
        <div class="per-user-per-month3">per user, per month</div>
        <div class="_0">$0</div>
        <div class="startup2">Startup</div>
      </div>
    </div>
    <div class="_3rd">
      <div class="frame-25">
        <div class="feature-cards">
          <div class="frame-21">
            <img class="icons" src="{{ static_url }}img/icons0.svg" />
          </div>
          <div class="frame-24">
            <div class="integration-ecosystem">Integration ecosystem</div>
            <div class="body2">
              Enhance your productivity by connecting with your favorite tools,
              keeping all your essentials in one place.
            </div>
          </div>
        </div>
        <div class="feature-cards">
          <div class="frame-21">
            <img class="icons2" src="{{ static_url }}img/icons1.svg" />
          </div>
          <div class="frame-24">
            <div class="integration-ecosystem">Goal setting and tracking</div>
            <div class="body2">
              Define and track your goals, breaking down objectives into
              achievable tasks to keep your targets in sight.
            </div>
          </div>
        </div>
        <div class="feature-cards">
          <div class="frame-21">
            <img class="icons3" src="{{ static_url }}img/icons2.svg" />
          </div>
          <div class="frame-24">
            <div class="integration-ecosystem">Secure data encryption</div>
            <div class="body2">
              With end-to-end encryption, your data is securely stored and
              protected from unauthorized access.
            </div>
          </div>
        </div>
      </div>
      <div class="frame-27">
        <div class="frame-26">
          <div class="frame-17">
            <div class="h-22">Intuitive interface</div>
            <div class="body3">
              Celebrate the joy of accomplishment with an app designed to track
              your progress, motivate your efforts, and celebrate your
              successes, one task at a time.
            </div>
          </div>
        </div>
        <img class="app-night" src="{{ static_url }}img/app-night0.png" />
      </div>
      <img class="emojistar-1" src="{{ static_url }}img/emojistar-10.png" />
    </div>
  </div>
</div>
