

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Ícone da página -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url }}img/Landingpagev2/rectangle-3370.png">
 
  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Checkout_Desktop_Sucess_Page_vars.css">
  <link rel="stylesheet" href="{{ static_url }}css/LandingPage_Checkout_Desktop_Sucess_Page_style.css">
  <title>Site - Pagina de sucesso</title>
</head>

<div class="thanks-page-pc">
  <div class="section-thank-you-page-order-status">
    <div class="text">
      <div class="block-thank-you-page-confirmation">
        <div class="header-copy-button">
          <div class="text-header-and-copy">
            <div class="your-order-is-confirmed">Thank you for your order</div>
            <div
              class="you-ll-get-a-confirmation-email-with-your-order-number-soon"
            >
              pay attention to the email address entered at checkout, this is
              where we will send you instructions for accessing the control
              panel
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <div class="line"></div>
    </div>
    <div class="email-me"></div>
  </div>
  <div class="frame-28971">
    <div class="success-error-icons">
      <div class="regular-icons">
        <img class="group2" src="{{ static_url }}img/Landingpagev2/group1.svg" />
      </div>
    </div>
    <div class="payment-successfully">
      Payment successfully
      <br />
      completed
    </div>
  </div>
</div>
